MONGO_URI=mongodb+srv://<username>:<password>@<your-cluster-url>/<your-database-name>?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_here
YTDLP_PATH=./bin/yt-dlp.exe
FFMPEG_PATH=./node_modules/ffmpeg-static/ffmpeg.exe